extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
			.col-md-7
				h1= pagina
				blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus tenetur quis doloremque iste dolorum earum amet ipsam explicabo vel.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatem qui quod voluptate temporibus aliquam, adipisci deserunt sint modi optio vitae minima sunt maxime tenetur dolore possimus quam! Sapiente, voluptate!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ex minima a adipisci velit quam harum dolores error, recusandae dolor veritatis blanditiis exercitationem quo voluptatem aut atque, vitae nesciunt odit.
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img.img-fluid.mb-4(src="img/icono_seguridad.svg")
					h2.mb-4 Seguridad
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis tempora sapiente, ipsum expedita mollitia distinctio.
				.col-md-4
					img.img-fluid.mb-4(src="img/icono_destinos.svg")
					h2.mb-4 Mejores Destinos
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis tempora sapiente, ipsum expedita mollitia distinctio.
				.col-md-4
					img.img-fluid.mb-4(src="img/icono_precios.svg")
					h2.mb-4 Mejor Precio
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis tempora sapiente, ipsum expedita mollitia distinctio.